body {
 background: #eee;
 color: #111;
 margin: 10px;
 padding: 0;
}
body, th, td {
 font: bold 14px verdana,arial,'Bitstream Vera Sans',helvetica,sans-serif;
}
.jobtitle {
	font: bold 21px verdana,arial,'Bitstream Vera Sans',helvetica,sans-serif;
	text-align: center;
}
.joblisttitle {
	font: bold 21px verdana,arial,'Bitstream Vera Sans',helvetica,sans-serif;	
	text-align: center;
	padding: 10;
}
.joblisttable {
	width: 90%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.jobrowtitle {
	background: #aaa;
}
.jobrow {
	background: #ddd;
}
.title {
	text-align: center;
	font-size: 21px;
	background: #ddd;
	border-style: solid;
	border-color: #444;
	border-width: 5;
}
.jobitem {
	font: normal 14px;
	color: #111;
}
.jobitemrow {
}
.jobitemname {
	font-size: 16px;
	color: #111;
	background: #aaa;
}
.jobitemvalue {
	font-size: 14px;
	color: #222;
	background: #ddd;
}
.framelisttitle {
	font: bold 17px verdana,arial,'Bitstream Vera Sans',helvetica,sans-serif;
	text-align: center;
}
.framerowtitle {
	background: #aaa;
}
.framerow {
	background: #ddd;
}
.framelisttable {
	width: 90%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}