body {
 background: #fff;
 color: #000;
 margin: 10px;
 padding: 0;
}
body, th, td {
 font: normal 14px verdana,arial,'Bitstream Vera Sans',helvetica,sans-serif;
}
.jobtitle {
	font: bold 21px verdana,arial,'Bitstream Vera Sans',helvetica,sans-serif;
	text-align: center;
}
.joblisttitle {
	font: bold 21px verdana,arial,'Bitstream Vera Sans',helvetica,sans-serif;
}
.jobrowtitle {
	background: #aaa;
}
.jobrow {
	background: #ddd;
}
.title {
	text-align: center;
	font-size: 21px;
}
.jobitem {
	font: normal 14px;
	color: #111;
}
.jobitemrow {
}
.jobitemname {
	font-size: 16px;
	color: #111;
	background: #eee;
}
.jobitemvalue {
	font-size: 14px;
	color: #222;
	background: #ddd;
}
.framelisttitle {
	font: bold 17px verdana,arial,'Bitstream Vera Sans',helvetica,sans-serif;
	text-align: center;
}
.framerowtitle {
	background: #aaa;
}
.framerow {
	background: #ddd;
}