*.o
*.a
*.patch
.sconsign.dblite
DrQueueOnRails/db/schema.rb
blockhost
cfgreader
cjob
compinfo
drqman/drqman
jobfinfo
jobinfo
master
requeue
sendjob
slave
scons.conf
python/build/
python/dist/
python/ez_setup.pyc
python/src/drqueue.egg-info/
python/src/drqueue/base/libdrqueue.py
python/src/drqueue/base/libdrqueue_wrap.c
ruby/Makefile
ruby/drqueue.bundle
ruby/libdrqueue_ruby_wrap.c
ruby/mkmf.log

