*.o
*.a
*.patch
.sconsign.dblite
.sconf_temp
config.log
libdrqueue/git_rev.h
DrQueueOnRails/db/schema.rb
DrQueueOnRails/db/*.db
DrQueueOnRails/db/*.sqlite3
DrQueueOnRails/config/environment.rb
DrQueueOnRails/log/*
blockhost
cfgreader
cjob
compinfo
drqman/drqman
jobfinfo
jobinfo
master
requeue
sendjob
slave
scons.conf
python/build/
python/dist/
python/ez_setup.pyc
python/src/drqueue.egg-info/
python/src/drqueue/base/libdrqueue.py
python/src/drqueue/base/libdrqueue_wrap.c
ruby/Makefile
ruby/drqueue.bundle
ruby/libdrqueue_ruby_wrap.c
ruby/mkmf.log

