<h2>Editing profile</h2>

<% form_tag :action => 'update', :id => @profile do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<br /><br />

<% if params[:id].to_i == session[:profile].id %>
	<%= link_to 'Back', :action => 'show', :id => session[:profile].id %>
<% else %>
	<%= link_to 'Show', :action => 'show', :id => @profile %> |
	<%= link_to 'Back', :action => 'list' %>
<% end %>
