
<div style="text-align:center;">

<%= @disclaimer %>

<br /><br /><br />

<%= start_form_tag(:action => 'accept_disclaimer') %>

<%= check_box('yesno', ['checked']) %>

I have read the disclaimer and accept it's terms. &nbsp;
<%= submit_tag('OK') %>

<%= end_form_tag %>

</div>